* {
    margin: 0px;
    padding: 0px;
    
}

body {
    background-image: url('./img/Group\ 141.png');
    background-size: cover;
}

.wrapper {
    width: 1090px;
    margin: auto;
    background-color: #FFFFFF;
}

.line {
    border-bottom: 2px solid #000000;
    margin: auto;
    margin-bottom: 36px;
    margin-top: 36px; 
    width: 850px;
}


/* header */

.header {
    width: 1090px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center; 
}

.logo-img {
    margin-right: 10px; 
}

.logo-text-container {
    display: flex;
    flex-direction: column
}

.logo-title {
    font-family: 'Montserrat Alternates', sans-serif;
}


.logo-text {
    font-family: 'Sacramento', cursive;
    font-weight: 400;
}

.navigation {
    font-family: 'Montserrat Alternates', sans-serif;
}

.navigation-select {
    border: 0 !important;
    appearance: none;
    background-image: url('./img/Vector\ 4.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    outline: none;
}

.hide-select {
    display: none;
    visibility: hidden;
}

.option-select {
    text-align: center;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
}

.middle {
    margin-left: 50px;
    margin-right: 50px;
}

.header-registration {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    display: flex;
}

.them-btn {
    background-color: #FFFFFF;
    border: 0px;
    display: inline-block;
    margin-right: 40px;
}

.headr-name-user {
    display: inline-block;
}

/* modal */

.modal {
    display: none;
    position: absolute;
    top: 15%;
    left: 50%;
    background-color: #FFFFFF;
    width: 570px;
    height: 316px;
    position: absolute;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.modal-content {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 13px;
    width: 392px;
    height: 223px;
    position: relative;
    left: 92px;
    top: 46px;
    text-align: center;
}

.modal-registration {
    margin-top: 42px;
}

.modal-inpt {
    margin-top: 18px;
    margin-bottom: 18px;
    height: 35px;
    width: 169px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #D7D7D7;
    color: #7E7E7E;
    padding-left: 10px;
}


.modal-btn {
    display: block;
    margin: auto;
    width: 105px;
    height: 35px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    box-shadow: 1.0px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
}

.modal-btn:hover {
    background-color: #312f2f;
}

.modal-images {
    position: relative;
}

.modal-img { 
    position: absolute;
}

.game-icon {
    right: 41px;
    bottom: 30px;
}

.sword {
    left: 41px;
    bottom: 30px;
}

.puzzle {
    right: 85px;
}

.puzzle {
    left: 85px;
}

.tic-tac {
    right: 85px;
}

.modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #FFFFFF;
    border: 0px;
}

/* main */

.title-popular-game {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 36px;
}

/* calculate */

.calculate {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 382px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.contain-calculate {
    margin-right: 104px;
}

.calculate-title {
    font-size: 56;
    font-weight: 300;
    margin-bottom: 36px
}

.сounter-calculate {
    text-align: left;
}

.btn {
    width: 100px;
    height: 100px;
    margin-right: 38px;
    background-color: black;
    color: aliceblue;
    border-radius: 35px;
    border: 0px;
}

.paper {
    margin-right: 0;
}

.btn:hover {
    background-color: rgb(54, 54, 54);
}

.result-calculate {
    margin-top: 36px;
}

.result-text {
    font-size: 56;
    font-weight: 300;
    background-color: #000000;
    color: #FFFFFF;
    width: 200px;
    max-width: 500px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    border-radius: 40px;
}

.result-game {
    font-size: 56;
    font-weight: 300;
    margin-bottom: 36px;
}

/* calculate-time */

.calculate-time {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}

.calculate-time-title {
    margin-bottom: 36px
}

.calculate-time-content {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
}

.time-account-to {
    margin-right: 55px;
}

.time-inpt {
    width: 95px;
    padding: 11px 20px 10px 10px;
    color: #7E7E7E;
    background-color: #D7D7D7;
    border: 0px;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(126,126,126,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(126,126,126,1);
    box-shadow: 10px 10px 5px -4px rgba(126,126,126,1);
    outline: none;
}

.time-btn {
    padding: 7px 10px 10px 10px;
    border: 0px;
    background-color: #000000;
    position: relative;
    right: 20px;
    border-radius: 0px 20px 20px 0px;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(126,126,126,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(126,126,126,1);
    box-shadow: 10px 10px 5px -4px rgba(126,126,126,1);
}


.time-btn:hover {
    background-color: rgb(54, 54, 54);
}

.time-img {
    position: relative;
    top: 3px;
    right: 1px;
}

/* гра введіть 3 числа */

.game-three-numbers {
    font-family: 'Montserrat Alternates', sans-serif;
}

.contain-three-numbers {
   text-align: center;
   margin: auto;
}

.inpts-three-numbers {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 36px;
    width: 500px;
    
}

.inpt-three-numbers {
    padding: 10px 20px 10px 20px;
    color: #7E7E7E;
    background-color: #D7D7D7;
    border: 0px;
    border-radius: 20px;
    margin-top: 36px;
    width: 100px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(126,126,126,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(126,126,126,1);
    box-shadow: 10px 10px 5px -4px rgba(126,126,126,1);
    outline: none;
}


/* ftr modal */

.ftr-modal {
    position: absolute;
    top: 0%;
    left: 37.5%;
    background-color: #FFFFFF;
    width: 463px;
    height: 245px;
    border-radius: 20px;
    display: none;
    font-family: 'Montserrat Alternates', sans-serif;
}

.ftr-modal-contant {
    text-align: center;
}

.ftr-modal-title {
    font-size: 20px;
    margin-top: 83px;
}

.ftr-modal-imgs {
    position: relative;
}

.ftr-modal-img {
    position: absolute;
}

.sword-img {
    left: 43px;
}

.puzzle-img {
    left: 87px;
    top: 70px;
}

.game-img {
    right: 42px;
}

.tic-tac-img {
    right: 86px;
    top: 70px;
}

.ftr-modal-close {
    position: absolute;
    background-color: #FFFFFF;
    border: 0px;
    right: 30px;
    top: 30px;
}

/* footer */

.ftr {
    width: 1070px;
    background-color: #FFFFFF; 
    height: 220px;
}

.ftr-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.ftr-logo {
    display: flex;
    align-items: center; 
    height: 75px;
    transform: scale(1.3);
    margin-left: 25px;
}

.ftr-img {
    margin-right: 10px;
}

.ftr-text-cantain {
    display: flex;
    flex-direction: column
}

.ftr-title {
    font-family: 'Montserrat Alternates', sans-serif;
}

.ftr-text {
    font-family: 'Sacramento', cursive;
}

.ftr-information {
    width: 300px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px;
}

.email {
    display: block;
}

.twitter {
    display: block;
}

.ftr-sub {
    font-family: 'Montserrat Alternates', sans-serif;
}

.sub-inpt {
    background-color: #D7D7D7;
    color: #7E7E7E;
    border: 0px;
    padding: 10px 80px 10px 10px;
    border-radius: 25px;
    margin-right: 36px;
    margin-bottom: 18px;
    outline: none;
}

.sub-btn {
    background-color: #000000;
    color: #FFFFFF;
    border: 0px;
    padding: 10px;
    border-radius: 20px;
}

.sub-btn:hover {
    background-color: rgb(54, 54, 54);
}

.sub-text {
    display: block;
    font-size: 6px;
}

/* google dino */

.dino-title {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 36px;
}

.google-dino-content {
    text-align: center;
}

/* slider */

.title-slider {
    margin-bottom: 36px;
}

.itc-slider {
    height: 250px;
}

.container-slider {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    max-width: 700px;
    margin: 0 auto;
}

.itc-slider_items {
    counter-reset: slide;
}

.itc-slider_item {
    border-radius: 20px;
    flex: 0 0 100%;
    max-width: 100%;
    counter-increment: slide;
    position: relative;
}

.img-slider {
    width: 150px;
    height: 150px;
    background-color: #D9D9D9;
    margin: auto;
    border-radius: 20px;
}

.name-slader {
    margin-top: 20px;
    margin-bottom: 20px;
}

.itc-slider_item::before {
    content: counter(slide) "/5";
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    display: block;
}

.itc-slider_btn {
    background-color: #FFFFFF;
    border: none;
    position: relative;
}

.itc-slider_btn:hover {
    background-color: #f5f5f5;
}

.itc-slider_btn_prev {
    right: 328px;
    bottom: 200px;
}

.itc-slider_btn_next {
    left: 328px;
    bottom: 200px;
}

.itc-slider_item.hide {
    display: none;
}